@import '../variables';

.pageWrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pageContentWrapper{
    position: absolute;
    top: 0;
    left: 72px;
    height: 100vh;
    width: calc(100% - 72px);
    background-color: red;
    color: $text-color !important;
    overflow: hidden;
}
