@import '../variables';

.headerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.headerGroup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;

	h1 {
		margin: 0;
		height: 50%;
	}

	span {
		height: 50%;
	}
}
